[data-app-name="phosphorylation-app"] #proteinInfoBox {
  display: none;
}

[data-app-name="phosphorylation-app"] #proteinSequenceBox {
  background-color: #f9f9f9;
  border: 1px solid rgb(183, 183, 183);
  font-family: "Courier New", Courier, monospace;
  padding: 5px;
  max-height: 8em;
  max-width: 44em;
	overflow-y:scroll;

}

[data-app-name="phosphorylation-app"] #aboutTab {
  padding-top: 3%;
  padding-left: 1%;
}

[data-app-name="phosphorylation-app"] #paper-credit {
  font-size: .8em;
}

[data-app-name="phosphorylation-app"] h4 {
  line-height: 130%;
}

[data-app-name="phosphorylation-app"] #logo {
  border-radius: 0% 25%;
}
